<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Unbelievers Podcast</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="icon" href="/images/logo_transparent.png">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/css/franklingothicfs_book_macroman/stylesheet.css" type="text/css" charset="utf-8" />
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="/css/style2.css">
</head>

<body>
  <div class="container" id="superNav">
    <div class="col-sm-3 col-md-2" id="logoImg">
      <a href="/">
        <img src="./images/logo_transparent.png" />
      </a>
    </div>
    <div class="col-sm-7 col-sm-offset-2 col-md-8 col-md-offset-2" id="imgCarousel">
      <p>
        <a href="/">Continue to unlearn everything you know</a>
      </p>
      <!-- <img src="./images/bkgSuperImg.jfif" /> -->
    </div>
  </div>

  <nav class="navbar navbar-inverse bluegrey">
    <div class="container">
      <div class="navbar-header offsetHeader">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="UPTitle" href="#">The Unbelievers Podcast</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li id="polls">
            <a href="/">Weekly Poll</a>
          </li>
          <li id="soundboardLi">
            <a href="/soundboard">Soundboard</a>
          </li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="http://www.unbelievablepodcast.com/halloffame">S.o.s. hall of fame</a>
          </li>
          <li id="contactLi">
            <a href="/contact">Contact</a>
          </li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="http://unbelievable.wikia.com/wiki/Main_Page">learn to unlearn
            </a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  {{{ body }}}

  <footer class="container max-width">
    <p>Copyright ©
      <script>document.write(new Date().getFullYear())</script> The Unbelievers Podcast</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="./js/script.js"></script>
  <!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script> -->

</body>

</html>