<div class="container">
  <div class="col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-2 col-xs-12 UPreferrer">
    <h4>Looking for
      <a target="_blank" rel="noopener noreferrer" href="http://www.unbelievablepodcast.com/">The Unbelievable Podcast?</a>
    </h4>
    <h5>Click
      <a target="_blank" rel="noopener noreferrer" href="http://unbelievable.wikia.com/wiki/Main_Page">here to
        <span>Learn to Unlearn</span>
      </a>
      everything you know</h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-2">
      <div id="page-content-wrapper">
        <div class="page-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 contact">
                <!-- content of page -->

                <p class="hosts">Unbelievers Podcast Hosts</p>
                <div class="row hostsBlock">

                  <div class="col-xs-6" id="rus">
                    <p class="hostName">Rus Ryan</p>
                    <img class="hostPic" src="/images/rus2.jpg" />
                  </div>
                  <div class="col-xs-6" id="drea">
                    <p class="hostName">Drea Mora</p>
                    <img class="hostPic" src="/images/drea2.jpg" />
                  </div>
                  <div class="col-xs-6" id="jude">
                    <p class="hostName">Jude Prestia</p>
                    <img class="hostPic" src="/images/jude1b.jpg" />
                  </div>
                  <div class="col-xs-6" id="rob">
                    <p class="hostName">Rob Okey</p>
                    <img class="hostPic" src="/images/rob2.jpg" />
                  </div>

                </div>
                <p class="hosts">Official Crew</p>
                <div class="row hostsBlock support">
                  <div class="col-xs-12">
                    <p class="officialName">Unbeliever A-Aron (AKA Aaron Schilb)</p>
                    <p class="officialTitle">OFFICIAL COMPOSER AND THEME SONG CREATOR</p>
                  </div>
                  <div class="col-xs-12">
                    <p class="officialName">Raymond Rowell</p>
                    <p class="officialTitle">OFFICIAL GRAPHIC DESIGNER</p>
                  </div>
                </div>
                <p class="hosts">Connect with us!</p>
                <div class="row hostsBlock">
                  <div class="col-sm-3 col-xs-6">
                    <i class="fab fa-twitter fa-5x icon"></i>
                    <p class="handle">
                      <a href="https://twitter.com/UnbelieversPod">@UnbelieversPod</a>
                    </p>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <i class="fab fa-instagram fa-5x icon"></i>
                    <p class="handle">
                      <a href="https://www.instagram.com/unbelieverspodcast/">@UnbelieversPodcast</a>
                    </p>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <i class="fab fa-facebook-square fa-5x icon"></i>
                    <p class="handle">
                      <a href="https://www.facebook.com/unbelieverspodcast/">Unbelievers Fan Page</a>
                    </p>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <i class="fab fa-facebook-square fa-5x icon"></i>
                    <p class="handle">
                      <a href="https://www.facebook.com/groups/unbelievablepodnetwork/">Unbelievable Podcast Network</a>
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--

SHOW CREDITS

THE UNBELIEVERS PODCAST HOSTS TODAY WERE JUDE PRESTIA, DREA MORA, AND ME RUS RYAN, OUR PRODUCER AND SOUNDBOARD ENGINEER IS ROB OKEY

YOU CAN FOLLOW THE SHOW ON TWITTER AT UNBELIEVERS POD AND INSTAGRAM AT UNBELIEVERS PODCAST

OUR OFFICIAL COMPOSER AND THEME SONG CREATOR IS UNBELIEVER A A RON AKA AARON SCHILB, HIS NEW SINGLE “MONTREAL” IS AVAILABLE NOW ON SPOTIFY AND APPLE MUSIC

OUR OFFICIAL GRAPHIC DESIGNER WHO DESIGNED OUR LOGO IS RAYMOND ROWELL, CHECKOUT HIS WORK @PRAVENCREATIVE ON TWITTER AND PROJECT RAVEN CREATIVE ON INSTAGRAM

-->