<div class="container">
  <div class="col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-2 col-xs-12 UPreferrer">
    <h4>Looking for
      <a target="_blank" rel="noopener noreferrer" href="http://www.unbelievablepodcast.com/">The Unbelievable Podcast?</a>
    </h4>
    <h5>Click
      <a target="_blank" rel="noopener noreferrer" href="http://unbelievable.wikia.com/wiki/Main_Page">here to
        <span>Learn to Unlearn</span>
      </a>
      everything you know</h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-2 hidden">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand bluegrey">
            <h4>Previous Shows & Polls</h4>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 12/10</a>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 12/03</a>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 11/26</a>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 11/19</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-2">
      <div id="page-content-wrapper">
        <div class="page-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 show">
                <!-- content of page -->

                <div class="row showRow">
                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/19/2018</h3>
                      <h4 class="showTitle">More People Who Fuck Aliens</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16107221&amp;playlist=false&amp;cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2Fb2f94da7ecdb129bc63c8612e1b6bee5.jpg"
                        height="400px" width="100%" frameborder="0" scrolling="no"></iframe>
                    </div>

                    <div class="PollDiv">
                      <div class="pollQuestion">Who would win the sex battle?</div>
                      <div class="form" onsubmit="return false">
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="1" class="pollOption" value="1"> Ian the Octopus Man
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="2" class="pollOption" value="2"> Cat Grandma
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="3" class="pollOption" value="3"> The Hover-fucking Nordics
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="0" class="pollOption" value="0"> Other
                            </label>
                          </div>
                        </div>
                        <div class="form-group otherDiv">
                          <input placeholder="Example: 'Dude singing that hoverfuck song could lay his eggs in me anytime -- BadAlienMan'" type="text"
                            class="form-control otherField" name="other_sub" maxlength="140">
                        </div>
                      </div>
                      <button type="button" class="btn submit" onclick="return false" onsubmit="return false">Submit</button>
                    </div>

                  </div>
                </div>

                <div class="row showRow">
                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/19/2018</h3>
                      <h4 class="showTitle">More People Who Fuck Aliens</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16107221&amp;playlist=false&amp;cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2Fb2f94da7ecdb129bc63c8612e1b6bee5.jpg"
                        height="400px" width="100%" frameborder="0" scrolling="no"></iframe>
                    </div>
                    <div class="PollDiv">
                    </div>

                  </div>
                </div>

                <div class="row showRow">
                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/19/2018</h3>
                      <h4 class="showTitle">More People Who Fuck Aliens</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16107221&amp;playlist=false&amp;cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2Fb2f94da7ecdb129bc63c8612e1b6bee5.jpg"
                        height="400px" width="100%" frameborder="0" scrolling="no"></iframe>
                    </div>
                    <div class="PollDiv">
                    </div>

                  </div>
                </div>

                <div class="row showRow">
                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/19/2018</h3>
                      <h4 class="showTitle">More People Who Fuck Aliens</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16107221&amp;playlist=false&amp;cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2Fb2f94da7ecdb129bc63c8612e1b6bee5.jpg"
                        height="400px" width="100%" frameborder="0" scrolling="no"></iframe>
                    </div>
                    <div class="PollDiv">
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>