<div class="container">
  <div class="col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-2 col-xs-12 UPreferrer">
    <h4>Looking for
      <a target="_blank" rel="noopener noreferrer" href="http://www.unbelievablepodcast.com/">The Unbelievable Podcast?</a>
    </h4>
    <h5>Click
      <a target="_blank" rel="noopener noreferrer" href="http://unbelievable.wikia.com/wiki/Main_Page">here to
        <span>Learn to Unlearn</span>
      </a>
      everything you know</h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-2 hidden">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand bluegrey">
            <h4>Previous Shows & Polls</h4>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 12/10</a>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 12/03</a>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 11/26</a>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 11/19</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-2">
      <div id="page-content-wrapper">
        <div class="page-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 show">
                <!-- content of page -->

                <div class="row showRow">


                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/28/2018</h3>
                      <h4 class="showTitle">Psychic Sasquatch pt.2</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16334762&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="3">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10177411.js"></script>
                      <noscript>
                        <a href="https://poll.fm/10177411">Who are the real Mountain Monsters?</a>
                      </noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/21/2018</h3>
                      <h4 class="showTitle">Psychic Sasquatch pt.1</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16272489&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="2">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10170459.js"></script>
                      <noscript>
                        <a href="https://poll.fm/10170459">Which band was Drea's cousin a member of?</a>
                      </noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/19/2018</h3>
                      <h4 class="showTitle">Alien Love Fest</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16201656&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="1">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10166152.js"></script>
                      <noscript>
                        <a href="https://poll.fm/10166152">Who would win in the sex battle?</a>
                      </noscript>
                    </div>
                  </div>

                  <!-- Start of templating for polls -->
                  {{#each polls }}
                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/19/2018</h3>
                      <h4 class="showTitle">Alien Love Fest</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16201656&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv">
                      <div class="pollQuestion">Who would win in the sex battle?</div>
                      <div class="form" onsubmit="return false">
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="1" class="pollOption" value="1"> Ian the Octopus Man
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="2" class="pollOption" value="2"> Cat Grandma
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="3" class="pollOption" value="3"> The Hover-fucking Michelin Woman
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="3" class="pollOption" value="3"> Zarka the Cat Queen
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="3" class="pollOption" value="3"> Pamela's Repltile
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="3" class="pollOption" value="3"> Count Smokula
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="0" class="pollOption" value="0"> Other
                            </label>
                          </div>
                        </div>
                        <div class="form-group otherDiv">
                          <input placeholder="Example: 'Dude singing that hoverfuck song could lay his eggs in me anytime -- BadAlienMan'" type="text"
                            class="form-control otherField" name="other_sub" maxlength="140">
                        </div>
                      </div>
                      <button type="button" class="btn submit" onclick="return false" onsubmit="return false">Submit</button>
                    </div>
                  </div>
                  {{/each}}
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>