<div class="container">
  <div class="col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-2 col-xs-12 UPreferrer">
    <h4>Looking for
      <a target="_blank" rel="noopener noreferrer" href="http://www.unbelievablepodcast.com/">The Unbelievable Podcast?</a>
    </h4>
    <h5>Click
      <a target="_blank" rel="noopener noreferrer" href="http://unbelievable.wikia.com/wiki/Main_Page">here to
        <span>Learn to Unlearn</span>
      </a>
      everything you know</h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-2 hidden">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand bluegrey">
            <h4>Previous Shows & Polls</h4>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 12/10</a>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 12/03</a>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 11/26</a>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 11/19</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-2">
      <div id="page-content-wrapper">
        <div class="page-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 show">
                <!-- content of page -->

                <div class="row showRow">


                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 8/6/2020</h3>
                      <h4 class="showTitle">The Hodag</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=40162171&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="81">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10592541.js"></script>
                      <noscript><a href="https://poll.fm/10592541">What is the Hodag?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 7/28/2020</h3>
                      <h4 class="showTitle">The Phoenix Incident: An Interview with Keith Arem</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=40045144&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="80">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10588690.js"></script>
                      <noscript><a href="https://poll.fm/10588690">What comedy do you want to watch for “Unbelievers Movie Night”?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 7/23/2020</h3>
                      <h4 class="showTitle">Southern Fried Bigfoot</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=39928072&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="79">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10583903.js"></script>
                      <noscript><a href="https://poll.fm/10583903">What would you call Southern Bigfoot?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 7/16/2020</h3>
                      <h4 class="showTitle">Haunted Dolls</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=39785859&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="78">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10581292.js"></script>
                      <noscript><a href="https://poll.fm/10581292">Which doll is the scariest?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 7/10/2020</h3>
                      <h4 class="showTitle">Unsolved Mysteries: Berkshires UFO</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=38457308&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="77">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10579681.js"></script>
                      <noscript><a href="https://poll.fm/10579681">What Unbelievable topics do you want to see on Unsolved Mysteries?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 7/2/2020</h3>
                      <h4 class="showTitle">The Phoenix Lights: Phoenix Tapes '97</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=35548547&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="76">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10575480.js"></script>
                      <noscript><a href="https://poll.fm/10575480">Which "found footage" film do you want to see?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 6/25/2020</h3>
                      <h4 class="showTitle">Winged Weirdies: Flying Humanoids</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=33410257&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="75">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10572497.js"></script>
                      <noscript><a href="https://poll.fm/10572497">What are the “Flying Humanoids”?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 6/18/2020</h3>
                      <h4 class="showTitle">Winged Weirdies: Thunderbirds</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=31785723&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>                   
                    </div>
                    <div class="PollDiv" id="74">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10569704.js"></script>
                      <noscript><a href="https://poll.fm/10569704">What are Thunderbirds?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 6/11/2020</h3>
                      <h4 class="showTitle">Sheepsquatch</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=30342547&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>                    </div>
                    <div class="PollDiv" id="73">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10567540.js"></script>
                      <noscript><a href="https://poll.fm/10567540">What’s the scariest thing about Sheepsquatch?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 6/4/2020</h3>
                      <h4 class="showTitle">Almost Famous Channelers: Dr. Peebles & Michael Jackson</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=29500421&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>                    
                    </div>
                    <div class="PollDiv" id="72">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10563799.js"></script>
                      <noscript><a href="https://poll.fm/10563799">Who would you want to Channel?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 5/27/2020</h3>
                      <h4 class="showTitle">Nightmare Nuggets: An Interview with Elijah Henderson of The Cryptid Studies Institute</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=28484995&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="71">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10559504.js"></script>
                      <noscript><a href="https://poll.fm/10559504">What is the most Nightmarish Nugget?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 5/20/2020</h3>
                      <h4 class="showTitle">The Beast of LBL</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=27914241&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="70">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10555867.js"></script>
                      <noscript><a href="https://poll.fm/10555867">What is the Beast of LBL?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 5/15/2020</h3>
                      <h4 class="showTitle">Sexy Supernatural</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=27462932&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>                    
                    </div>
                    <div class="PollDiv" id="69">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10554386.js"></script>
                      <noscript><a href="https://poll.fm/10554386">What’s the sexiest thing in the paranormal?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 5/7/2020</h3>
                      <h4 class="showTitle">Room 237</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=26855528&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>                    </div>
                    <div class="PollDiv" id="68">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10550907.js"></script>
                      <noscript><a href="https://poll.fm/10550907">What is the true meaning of the Shining?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 4/23/2020</h3>
                      <h4 class="showTitle">Walking with the Tall Whites</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=25973599&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>                    </div>
                    <div class="PollDiv" id="67">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10544113.js"></script>
                      <noscript><a href="https://poll.fm/10544113">Who would win in a fight?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 4/15/2020</h3>
                      <h4 class="showTitle">Art Bell Tribute 2020</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=25584241&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="66">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10539040.js"></script>
                      <noscript><a href="https://poll.fm/10539040">Who is your favorite Art Bell weirdo?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 4/8/2020</h3>
                      <h4 class="showTitle">Momo</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=25067243&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="65">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10534740.js"></script>
                      <noscript><a href="https://poll.fm/10534740">What's the scariest Momo?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 4/1/2020</h3>
                      <h4 class="showTitle">The Amazing Randi</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=24727097&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>                    </div>
                    <div class="PollDiv" id="64">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10530864.js"></script>
                      <noscript><a href="https://poll.fm/10530864">Who’s the worst in the paranormal?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 3/26/2020</h3>
                      <h4 class="showTitle">Famous Channelers</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=24356806&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="63">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10527256.js"></script>
                      <noscript><a href="https://poll.fm/10527256">Who's your favorite channeler?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 3/18/2020</h3>
                      <h4 class="showTitle">Florida Strangeness</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=24032493&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg" width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="62">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10527259.js"></script>
<noscript><a href="https://poll.fm/10527259">Is Jude a dumdum who is not smart or cool?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 3/13/2020</h3>
                      <h4 class="showTitle">Hell's Bells: The Dangers of Rock & Roll (Part 2)</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=23850232&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="61">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10520666.js"></script>
                      <noscript><a href="https://poll.fm/10520666">Is Spiritual Back Masking Real?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 3/4/2020</h3>
                      <h4 class="showTitle">Hell's Bells: The Dangers of Rock & Roll</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=23490121&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="60">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10515850.js"></script>
                      <noscript><a href="https://poll.fm/10515850">Who is the most satanic rocker?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 2/26/2020</h3>
                      <h4 class="showTitle">Alien Ghosts</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=23229676&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="59">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10512194.js"></script>
                      <noscript><a href="https://poll.fm/10512194">How would you get rid of an alien ghost?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 2/22/2020</h3>
                      <h4 class="showTitle">Corey Goode and the Secret Space Drama</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=23050527&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="58">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10510016.js"></script>
                      <noscript><a href="https://poll.fm/10510016">Who’s the worst in the Secret Space Drama?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 2/12/2020</h3>
                      <h4 class="showTitle">California Paranormal</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=22706623&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="57">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10505725.js"></script>
                      <noscript><a href="https://poll.fm/10505725">What is the weirdest thing in California?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 2/05/2020</h3>
                      <h4 class="showTitle">Celebrity Death Conspiracies</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=22462245&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="56">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10502860.js"></script>
                      <noscript><a href="https://poll.fm/10502860">What Celebrity Death Conspiracy do you believe?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 1/29/2020</h3>
                      <h4 class="showTitle">Jose Escamilla: The Passion of the Rods</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=22210531&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="55">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10499375.js"></script>
                      <noscript><a href="https://poll.fm/10499375">What’s the final verdict on Jose’s Rods?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 1/22/2020</h3>
                      <h4 class="showTitle">Ghosts of Morgan City</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=21969916&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="54">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10495417.js"></script>
                      <noscript><a href="https://poll.fm/10495417">What is going on in Morgan City?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 12/14/2019</h3>
                      <h4 class="showTitle">2nd Annual Christmas Special Live</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=20753694&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F4b181bb36f19d005cef061ec56e01032.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="53">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10480968.js"></script>
                      <noscript><a href="https://poll.fm/10480968">What would you like more of in season 2?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 12/04/2019</h3>
                      <h4 class="showTitle">Canadian Strangeness: Northern Mysteries</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=20492707&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="52">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10473175.js"></script>
                      <noscript><a href="https://poll.fm/10473175">What’s the weirdest thing in Canada?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/27/2019</h3>
                      <h4 class="showTitle">Mantis Man</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=20325944&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="51">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10471480.js"></script>
                      <noscript><a href="https://poll.fm/10471480">What is the Mantis Man?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/06/2019</h3>
                      <h4 class="showTitle">Alien Autopsy: Fact or Fiction</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=20019188&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="50">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10458419.js"></script>
                      <noscript><a href="https://poll.fm/10458419">What do you think of the “Alien Autopsy” video?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/06/2019</h3>
                      <h4 class="showTitle">The Blackwell Ghost</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=19899660&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="49">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10452838.js"></script>
                      <noscript><a href="https://poll.fm/10452838">Does Turner Clay aka "Host" belong in the SOS Hall
                          of Fame?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 10/31/2019</h3>
                      <h4 class="showTitle">Halloween Spooktacular 2019</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=19775340&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="48">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10447966.js"></script>
                      <noscript><a href="https://poll.fm/10447966">What's the scariest Halloween story?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 10/23/2019</h3>
                      <h4 class="showTitle">Beyond Pascagoula: An Interview with Calvin Parker</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=19717821&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="47">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 10/16/2019</h3>
                      <h4 class="showTitle">The Spottsville Monster</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=19541972&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="46">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10438232.js"></script>
                      <noscript><a href="https://poll.fm/10438232">Who is the hero of the Spottsville Monster?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 10/9/2019</h3>
                      <h4 class="showTitle">The Varginha UFO Incident</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=19428386&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="45">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10430809.js"></script>
                      <noscript><a href="https://poll.fm/10430809">What were the creatures from the Varginha Incident?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 10/2/2019</h3>
                      <h4 class="showTitle">Mothman Festival 2019</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=19331667&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="44">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 9/25/2019</h3>
                      <h4 class="showTitle">Pigman</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=19237364&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="43">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10419116.js"></script>
                      <noscript><a href="https://poll.fm/10419116">What is the Pigman?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 9/18/2019</h3>
                      <h4 class="showTitle">Bridgewater Triangle: Pukwudgie</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=19147304&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="42">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10413495.js"></script>
                      <noscript><a href="https://poll.fm/10413495">How would you fight off a Pukwudgie?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 9/11/2019</h3>
                      <h4 class="showTitle">Patreon Bonus Compilation 2019</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=19063766&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="41.5">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 9/4/2019</h3>
                      <h4 class="showTitle">El Chupacabra</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=19006377&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="41">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 8/28/2019</h3>
                      <h4 class="showTitle">Robert the Doll</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18944108&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="40">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10400594.js"></script>
                      <noscript><a href="https://poll.fm/10400594">What did that guy call Robert the Doll?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 8/21/2019</h3>
                      <h4 class="showTitle">George Noory's Ouija Board Special</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18870562&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="39">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10391721.js"></script>
                      <noscript><a href="https://poll.fm/10391721">Should we do a Ouija Board experiment?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 8/14/2019</h3>
                      <h4 class="showTitle">Unsolved Mysteries: Guardian UFO</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18821395&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="38">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10386701.js"></script>
                      <noscript><a href="https://poll.fm/10386701">Do you believe the “Guardian” UFO story?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 8/7/2019</h3>
                      <h4 class="showTitle">The Pascagoula Wrinkly Roadtrip</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18758461&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="37">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10382007.js"></script>
                      <noscript><a href="https://poll.fm/10382007">How long will the Unbelievers Bench last in
                          Pascagoula?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 7/31/2019</h3>
                      <h4 class="showTitle">The Pascagoula Abduction</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18688708&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="36">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10376963.js"></script>
                      <noscript><a href="https://poll.fm/10376963">Who’s the star of the Pascagoula Alien Abduction?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 7/24/2019</h3>
                      <h4 class="showTitle">The Ohio Grassman</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18635502&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="35">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 7/17/2019</h3>
                      <h4 class="showTitle">Art Bell and Time Traveler Single Seven</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18586114&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="34">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10369511.js"></script>
                      <noscript><a href="https://poll.fm/10369511">Is Single Seven a real time traveler?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 7/10/2019</h3>
                      <h4 class="showTitle">The "Historic" Reed Family Abductions</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18518167&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="33">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10362542.js"></script>
                      <noscript><a href="https://poll.fm/10362542">What alien encounter deserves a monument?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 7/3/2019</h3>
                      <h4 class="showTitle">4th of July BBQ Special with Special Guests Phoebe Tyers, Sebastian
                        Conelli, and Allstar Unbelievers</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18456730&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="32">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 6/26/2019</h3>
                      <h4 class="showTitle">Flying Rods</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18392103&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="31">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10351517.js"></script>
                      <noscript><a href="https://poll.fm/10351517">Who is the real Champion of the Rod?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 6/19/2019</h3>
                      <h4 class="showTitle">Budd Hopkins: Witnessed</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18322627&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="30">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10348042.js"></script>
                      <noscript><a href="https://poll.fm/10348042">Who is the most believable witness?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 6/12/2019</h3>
                      <h4 class="showTitle">Phantom Phuck Phest</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18254283&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="29">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10342345.js"></script>
                      <noscript><a href="https://poll.fm/10342345">Who is the sexiest ghost lover?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 6/5/2019</h3>
                      <h4 class="showTitle">Famous Frauds: J.Z. Knight & Ramtha</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18187043&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="28">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10337259.js"></script>
                      <noscript><a href="https://poll.fm/10337259">How many problems does JZ Knight have</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 5/29/2019</h3>
                      <h4 class="showTitle">More Video Game Strangeness with Special Guest Brian Frange</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18117974&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="27">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10331994.js"></script>
                      <noscript><a href="https://poll.fm/10331994">What's the strangest video game?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 5/22/2019</h3>
                      <h4 class="showTitle">Beyond Reason: The Canadian Psychic Game Show</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=18048924&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="26">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 5/15/2019</h3>
                      <h4 class="showTitle">Turmoil in the Toybox</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17942285&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="25">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 5/8/2019</h3>
                      <h4 class="showTitle">The Beatles Never Broke Up</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17873886&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="24">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10315099.js"></script>
                      <noscript><a href="https://poll.fm/10315099">What happened to James Richards?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 5/1/2019</h3>
                      <h4 class="showTitle">Time Traveling Trumps</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17810454&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="23">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10309411.js"></script>
                      <noscript><a href="https://poll.fm/10309411">Is Donald Trump actually John Titor?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 4/24/2019</h3>
                      <h4 class="showTitle">Art Bell Tribute: Secret Societies Open Lines</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17738384&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="22">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10303929.js"></script>
                      <noscript><a href="https://poll.fm/10303929">Are there still secret societies we don’t know
                          about?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 4/17/2019</h3>
                      <h4 class="showTitle">The Beast of Grunch Road</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17673700&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="21">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10299289.js"></script>
                      <noscript><a href="https://poll.fm/10299289">Why was Swamp Monsters cancelled after 3 episodes?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 4/10/2019</h3>
                      <h4 class="showTitle">Mandela Effect in 2019</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17598916&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="20">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10292304.js"></script>
                      <noscript><a href="https://poll.fm/10292304">What is causing the Mandela Effect?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 4/3/2019</h3>
                      <h4 class="showTitle">Famous Frauds: "Psychic" Sylvia Browne</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17525951&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="19">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10286106.js"></script>
                      <noscript><a href="https://poll.fm/10286106">Does "psychic" Sylvia Browne belong in the SOS Hall
                          of Fame?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 3/27/2019</h3>
                      <h4 class="showTitle">The Ariel School UFO Incident</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17458406&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="18">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10279269.js"></script>
                      <noscript><a href="https://poll.fm/10279269">Do you believe the Ariel school kids saw a UFO and
                          aliens?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 3/20/2019</h3>
                      <h4 class="showTitle">The Bell Witch</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17388118&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="17">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10272455.js"></script>
                      <noscript><a href="https://poll.fm/10272455">Why was the Bell V-Witch such a V-Bitch?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 3/13/2019</h3>
                      <h4 class="showTitle">Curse of the Man Who Sees UFOs: An Interview with Christo Roppolo</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17316239&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="16">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 3/06/2019</h3>
                      <h4 class="showTitle">Sports Strangeness with The Sports Lordz</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17244910&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="15">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10257842.js"></script>
                      <noscript><a href="https://poll.fm/10257842">Which jock has the most paranormal stock?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 2/27/2019</h3>
                      <h4 class="showTitle">Rock & Roll Aliens</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17177294&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="14">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10251824.js"></script>
                      <noscript><a href="https://poll.fm/10251824">What really happened to Jim Sullivan?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 2/20/2019</h3>
                      <h4 class="showTitle">Gef the Talking Mongoose Revisted: An Interview with Tim R. Swartz</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17100942&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="13">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 2/14/2019</h3>
                      <h4 class="showTitle">Valentine's Special: Coral Castle</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17037330&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="12">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10240581.js"></script>
                      <noscript><a href="https://poll.fm/10240581">How was Coral Castle Built?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 2/6/2019</h3>
                      <h4 class="showTitle">Elsagate</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16970148&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="11">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10232837.js"></script>
                      <noscript><a href="https://poll.fm/10232837">What is the purpose of Elsagate?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 1/30/2019</h3>
                      <h4 class="showTitle">David Wilcock and The Secret Space Programs</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16888575&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="10">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10226978.js"></script>
                      <noscript><a href="https://poll.fm/10226978">Does David Wilcock know what he's talking about?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 1/23/2019</h3>
                      <h4 class="showTitle">Conspiracy Theory with Jesse Ventura: Manimal</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16826214&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="9">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10223441.js"></script>
                      <noscript><a href="https://poll.fm/10223441">What were they making at the Yerkes Animal Research
                          facility?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 1/16/2019</h3>
                      <h4 class="showTitle">8th Wonder of the World - Gef the Talking Mongoose</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16724521&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="8">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10216374.js"></script>
                      <noscript><a href="https://poll.fm/10216374">What is Gef the Talking Mongoose?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 12/26/2018</h3>
                      <h4 class="showTitle">Christmas Special Live with Brian Frange, Kevin Cobbs, and Phoebe Tyers</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16550167&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8b24c2e75f6b2c485c8f9acd93624142.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="7">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 12/19/2018</h3>
                      <h4 class="showTitle">Ghost Adventures: Haunted Museum Live pt.2</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16527127&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="6">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10191777.js"></script>
                      <noscript><a href="https://poll.fm/10191777">Should Zak Bagans be in the S.O.S. Hall of Fame?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 12/12/2018</h3>
                      <h4 class="showTitle">Ghost Adventures: Haunted Museum Live pt.1</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16456092&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="5">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <!-- pre-Update -->
                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 12/05/2018</h3>
                      <h4 class="showTitle">Reptilians Re-Re-Revisited</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16396494&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="4">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10184341.js"></script>
                      <noscript>
                        <a href="https://poll.fm/10184341">Which celebrities are probably reptilians that we should ask
                          Matt R about?</a>
                      </noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/28/2018</h3>
                      <h4 class="showTitle">Psychic Sasquatch pt.2</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16334762&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="3">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10177411.js"></script>
                      <noscript>
                        <a href="https://poll.fm/10177411">Who are the real Mountain Monsters?</a>
                      </noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/21/2018</h3>
                      <h4 class="showTitle">Psychic Sasquatch pt.1</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16272489&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="2">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10170459.js"></script>
                      <noscript>
                        <a href="https://poll.fm/10170459">Which band was Drea's cousin a member of?</a>
                      </noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/14/2018</h3>
                      <h4 class="showTitle">Alien Love Fest</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16201656&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="1">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10166152.js"></script>
                      <noscript>
                        <a href="https://poll.fm/10166152">Who would win in the sex battle?</a>
                      </noscript>
                    </div>
                  </div>

                  <!-- XML Spreaker feed for the show https://www.spreaker.com/show/3244268/episodes/feed -->

                  <!-- Start of templating for polls -->
                  {{#each polls }}
                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/19/2018</h3>
                      <h4 class="showTitle">Alien Love Fest</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16201656&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv">
                      <div class="pollQuestion">Who would win in the sex battle?</div>
                      <div class="form" onsubmit="return false">
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="1" class="pollOption" value="1">
                              Ian the Octopus Man
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="2" class="pollOption" value="2">
                              Cat Grandma
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="3" class="pollOption" value="3">
                              The Hover-fucking Michelin Woman
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="3" class="pollOption" value="3">
                              Zarka the Cat Queen
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="3" class="pollOption" value="3">
                              Pamela's Repltile
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="3" class="pollOption" value="3">
                              Count Smokula
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="0" class="pollOption" value="0">
                              Other
                            </label>
                          </div>
                        </div>
                        <div class="form-group otherDiv">
                          <input placeholder="Example: 'Dude singing that hoverfuck song could lay his eggs in me anytime -- BadAlienMan'"
                            type="text" class="form-control otherField" name="other_sub" maxlength="140">
                        </div>
                      </div>
                      <button type="button" class="btn submit" onclick="return false" onsubmit="return false">Submit</button>
                    </div>
                  </div>
                  {{/each}}
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>