<div class="container">
  <div class="col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-2 col-xs-12 UPreferrer">
    <h4>Looking for
      <a target="_blank" rel="noopener noreferrer" href="http://www.unbelievablepodcast.com/">The Unbelievable Podcast?</a>
    </h4>
    <h5>Click
      <a target="_blank" rel="noopener noreferrer" href="http://unbelievable.wikia.com/wiki/Main_Page">here to
        <span>Learn to Unlearn</span>
      </a>
      everything you know</h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-2 hidden">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand bluegrey">
            <h4>Previous Shows & Polls</h4>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 12/10</a>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 12/03</a>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 11/26</a>
          </li>
          <li class="sidebar-week">
            <a href="#">Week of 11/19</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-2">
      <div id="page-content-wrapper">
        <div class="page-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 show">
                <!-- content of page -->

                <div class="row showRow">


                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 4/24/2019</h3>
                      <h4 class="showTitle">Art Bell Tribute: Secret Societies Open Lines</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17738384&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="22">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10303929.js"></script>
                      <noscript><a href="https://poll.fm/10303929">Untitled Poll</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 4/17/2019</h3>
                      <h4 class="showTitle">The Beast of Grunch Road</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17673700&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="21">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10299289.js"></script>
                      <noscript><a href="https://poll.fm/10299289">Why was Swamp Monsters cancelled after 3 episodes?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 4/10/2019</h3>
                      <h4 class="showTitle">Mandela Effect in 2019</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17598916&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="20">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10292304.js"></script>
                      <noscript><a href="https://poll.fm/10292304">What is causing the Mandela Effect?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 4/3/2019</h3>
                      <h4 class="showTitle">Famous Frauds: "Psychic" Sylvia Browne</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17525951&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="19">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10286106.js"></script>
                      <noscript><a href="https://poll.fm/10286106">Does "psychic" Sylvia Browne belong in the SOS Hall
                          of Fame?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 3/27/2019</h3>
                      <h4 class="showTitle">The Ariel School UFO Incident</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17458406&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="18">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10279269.js"></script>
                      <noscript><a href="https://poll.fm/10279269">Do you believe the Ariel school kids saw a UFO and
                          aliens?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 3/20/2019</h3>
                      <h4 class="showTitle">The Bell Witch</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17388118&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="17">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10272455.js"></script>
                      <noscript><a href="https://poll.fm/10272455">Why was the Bell V-Witch such a V-Bitch?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 3/13/2019</h3>
                      <h4 class="showTitle">Curse of the Man Who Sees UFOs: An Interview with Christo Roppolo</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17316239&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="16">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 3/06/2019</h3>
                      <h4 class="showTitle">Sports Strangeness with The Sports Lordz</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17244910&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="15">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10257842.js"></script>
                      <noscript><a href="https://poll.fm/10257842">Which jock has the most paranormal stock?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 2/27/2019</h3>
                      <h4 class="showTitle">Rock & Roll Aliens</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17177294&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="14">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10251824.js"></script>
                      <noscript><a href="https://poll.fm/10251824">What really happened to Jim Sullivan?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 2/20/2019</h3>
                      <h4 class="showTitle">Gef the Talking Mongoose Revisted: An Interview with Tim R. Swartz</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17100942&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="13">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 2/14/2019</h3>
                      <h4 class="showTitle">Valentine's Special: Coral Castle</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=17037330&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="12">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10240581.js"></script>
                      <noscript><a href="https://poll.fm/10240581">How was Coral Castle Built?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 2/6/2019</h3>
                      <h4 class="showTitle">Elsagate</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16970148&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="11">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10232837.js"></script>
                      <noscript><a href="https://poll.fm/10232837">What is the purpose of Elsagate?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 1/30/2019</h3>
                      <h4 class="showTitle">David Wilcock and The Secret Space Programs</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16888575&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="10">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10226978.js"></script>
                      <noscript><a href="https://poll.fm/10226978">Does David Wilcock know what he's talking about?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 1/23/2019</h3>
                      <h4 class="showTitle">Conspiracy Theory with Jesse Ventura: Manimal</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16826214&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="9">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10223441.js"></script>
                      <noscript><a href="https://poll.fm/10223441">What were they making at the Yerkes Animal Research
                          facility?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 1/16/2019</h3>
                      <h4 class="showTitle">8th Wonder of the World - Gef the Talking Mongoose</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16724521&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="8">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10216374.js"></script>
                      <noscript><a href="https://poll.fm/10216374">What is Gef the Talking Mongoose?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 12/26/2018</h3>
                      <h4 class="showTitle">Christmas Special Live with Brian Frange, Kevin Cobbs, and Phoebe Tyers</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16550167&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8b24c2e75f6b2c485c8f9acd93624142.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="7">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 12/19/2018</h3>
                      <h4 class="showTitle">Ghost Adventures: Haunted Museum Live pt.2</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16527127&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="6">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10191777.js"></script>
                      <noscript><a href="https://poll.fm/10191777">Should Zak Bagans be in the S.O.S. Hall of Fame?</a></noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 12/12/2018</h3>
                      <h4 class="showTitle">Ghost Adventures: Haunted Museum Live pt.1</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16456092&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="5">
                      <p class="noPoll">No Poll This Week</p>
                    </div>
                  </div>

                  <!-- pre-Update -->
                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 12/05/2018</h3>
                      <h4 class="showTitle">Reptilians Re-Re-Revisited</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16396494&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="4">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10184341.js"></script>
                      <noscript>
                        <a href="https://poll.fm/10184341">Which celebrities are probably reptilians that we should ask
                          Matt R about?</a>
                      </noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/28/2018</h3>
                      <h4 class="showTitle">Psychic Sasquatch pt.2</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16334762&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="3">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10177411.js"></script>
                      <noscript>
                        <a href="https://poll.fm/10177411">Who are the real Mountain Monsters?</a>
                      </noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/21/2018</h3>
                      <h4 class="showTitle">Psychic Sasquatch pt.1</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16272489&theme=dark&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="2">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10170459.js"></script>
                      <noscript>
                        <a href="https://poll.fm/10170459">Which band was Drea's cousin a member of?</a>
                      </noscript>
                    </div>
                  </div>

                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/14/2018</h3>
                      <h4 class="showTitle">Alien Love Fest</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16201656&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv" id="1">
                      <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10166152.js"></script>
                      <noscript>
                        <a href="https://poll.fm/10166152">Who would win in the sex battle?</a>
                      </noscript>
                    </div>
                  </div>

                  <!-- XML Spreaker feed for the show https://www.spreaker.com/show/3244268/episodes/feed -->

                  <!-- Start of templating for polls -->
                  {{#each polls }}
                  <div class="weekDiv col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="showDiv">
                      <h3 class="showWeek bluegrey">Week of 11/19/2018</h3>
                      <h4 class="showTitle">Alien Love Fest</h4>
                      <iframe src="https://widget.spreaker.com/player?episode_id=16201656&theme=light&autoplay=false&playlist=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F8c521f1a330c36a6637528c010115685.jpg"
                        width="100%" height="200px" frameborder="0"></iframe>
                    </div>
                    <div class="PollDiv">
                      <div class="pollQuestion">Who would win in the sex battle?</div>
                      <div class="form" onsubmit="return false">
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="1" class="pollOption" value="1">
                              Ian the Octopus Man
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="2" class="pollOption" value="2">
                              Cat Grandma
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="3" class="pollOption" value="3">
                              The Hover-fucking Michelin Woman
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="3" class="pollOption" value="3">
                              Zarka the Cat Queen
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="3" class="pollOption" value="3">
                              Pamela's Repltile
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="3" class="pollOption" value="3">
                              Count Smokula
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" data-number="0" class="pollOption" value="0">
                              Other
                            </label>
                          </div>
                        </div>
                        <div class="form-group otherDiv">
                          <input placeholder="Example: 'Dude singing that hoverfuck song could lay his eggs in me anytime -- BadAlienMan'"
                            type="text" class="form-control otherField" name="other_sub" maxlength="140">
                        </div>
                      </div>
                      <button type="button" class="btn submit" onclick="return false" onsubmit="return false">Submit</button>
                    </div>
                  </div>
                  {{/each}}
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>